
<div class="input"> 
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Title </mat-panel-title>
        <mat-panel-description> <div class="input-top-img">
            <div>
                <img src="../../assets/check_box_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt=""  style="width: 45px;height: 45px;">
            </div>
            <div>
                <img src="../../assets/brush_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 45px;height: 45px;">
            </div>
            <div>
                <img src="../../assets/image_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 45px;height: 45px;">
            </div>
        </div> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
</div>
<div style="margin-top:20px;">
  <app-notes-container></app-notes-container>
</div>















<!-- </div>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Title </mat-panel-title>
        <mat-panel-description> <div class="input-top-img">
            <div>
                <img src="../../assets/check_box_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt=""  style="width: 45px;height: 45px;">
            </div>
            <div>
                <img src="../../assets/brush_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 45px;height: 45px;">
            </div>
            <div>
                <img src="../../assets/image_16dp_5F6368_FILL0_wght400_GRAD0_opsz20.png" alt="" style="width: 45px;height: 45px;">
            </div>

        </div> </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    
  </mat-accordion> -->