<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
<body>
  <div class = "login-container" >
      <div class="split">
        <div id="img">
          <img src="../../assets/google-logo.png" alt="" srcset="" height="44px" width="44px">
        </div>
        <div id="text1">
          <h1>Sign in</h1>
        </div>
        <div id="text2">
         <h3>Use your Google Account</h3>
        </div>

      </div>
      <div class="split">
        
        <div id="emailinput">
          
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email or Phone</mat-label>
              <input matInput placeholder="Placeholder">
              
              <mat-hint  id="forgot-email" ><a routerLink="/register"><button mat-button id="forget-btn">Forgot Email?</button>  </a>       
              </mat-hint>
            </mat-form-field>
          </p>
          
        </div>
<!--        
        <div id="forgot-email"  style="margin-top: 0%;" >
            
            <a routerLink="/register"><button mat-button id="forget-btn">Forgot Email?</button>  </a>       
        </div> -->
        <div id="msg">
          <h3>Not your computer? Use Guest mode to sign in privately.</h3>
          <a href="https://support.google.com/chrome/answer/6130773?hl=en" target="_blank">
            <button mat-button  id="learnmore">Learn more about using Guest mode </button>
        

          </a>
          </div>
        
        <div id="btn" style="margin-top: 15px;">
          <a routerLink="/register"><button mat-button id="btn1">Create account</button></a>
          
          <button mat-flat-button id="btn2">Next</button>
        </div>
      </div>
  </div>
</body>
</html>


<!-- 


<link rel="stylesheet" href="login.component.scss" lang="scss">

<div class="login-container">

    <div>
        <div class="google-logo">
           
      
              <img src=".../assets/google-logo.png" alt="Google Logo">
            </div>
      
            <h2>Sign in</h2>
            <p>Use your Google Account</p>
    </div>
    <div>
    
        <mat-card class="login-card">
      

            <form>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email or phone</mat-label>
                <input matInput type="email" required>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <div class="forgot-email">
                <a href="#">Forgot email?</a>
              </div>
              <p>Not your computer? Use Guest mode to sign in privately. <a href="#">Learn more</a></p>
              <div class="actions">
                <a href="#" class="create-account">Create account</a>
                <button mat-raised-button color="primary" type="submit">Next</button>
              </div>
            </form>
          </mat-card>
    </div>

  </div>
  

  
  <footer>
    <div class="footer-links">
      <a href="#">Help</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
    <div class="language-select">
      <mat-select>
        <mat-option value="en-uk">English (United Kingdom)</mat-option>
        <mat-option value="en-us">English (United States)</mat-option>
      </mat-select>
    </div>
  </footer> -->

  <!--

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/google-logo.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
-->
