mat-accordion{
    width: 40%;
    background-color: red;
}


.input{
    width: 180%;
    margin-top: 10%;
    margin-left: 35%;
    
}

.input-top-img{
display: flex;
gap: 19px;
 margin-left: 46%;
justify-content: flex-end;
}