
.registerBody {
    background-color: white;
    padding-top: 25px;
    border-radius: 20px;
}
p {
    width: 520px;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0 0 0;
}
.mat-form-field-flex .ng-tns-c50-0 {
    width: 100%;
}

.dropdown {
    font-size: 12px;
    font-weight: 500;
    border: 10px;
    border-radius: 10px;
}